#sesion-contenedor{
  width: 30%;
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  right: 0;
  border: 4px solid #000;
  transition: all .2s;
  z-index: 5;
  background-color: #99a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sesion-contenedor img{
  width: 150px;
  height: 160px;
  border-radius: 20px;
  margin: 20px;
  object-fit: cover;
}
#sesion-contenedor.activo{
  right: 0;
}
#sesion-contenedor.inactivo {
  right: -30%;
}
