.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: min-content;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  background-color: #aab;
}